.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.drawStage{
  cursor: crosshair !important;
}

.selectionStage{
  cursor: default !important;
}
